div .form {
    /* border-color: #02005f; */
    border: 1px solid #02005f;
    border-radius: 10px;
    box-shadow: 1.5px 1.5px 3px;
    width: 90vw;
    margin: 20px 0px;
}

form input {
    background-color: #FAFAFA;
    padding: 5px;
    margin: 20px 10px;
    border-radius: 5px;
    border: 1px solid #02005f;
}

select {
    background-color: #FAFAFA;
    color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

form button {
    background-color: #02005f;
    font-size: small;
    margin: 0px 50px;
}

